* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

header {
    padding: 10px;
    margin-bottom: 20px;
}

body {
  width: 100%;
  height: 100%px;
  padding: 10px;
  background-color: aliceblue;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  position: relative;
}


.restaurant > div {
  padding: 10px;
  margin-bottom: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

img {
    width:100%;
    height: 100%;
    border-radius: 10px;
}

h4 {
    margin-bottom: 10px;

}
.restaurant {
    width: 100%; 
    /* 모바일 */
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    animation: animate 1.5s ease-out forwards;
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1023px)
{
    .restaurant {
        width: 45%;
    }
}

/* PC*/
@media (min-width: 1024px) {
    .restaurant {
        width: 22%;
    }
}

.restaurant.animate {
    transform: scale(0.3);
    opacity: 0;
    animation: popUp 1s ease-out forwards, glow 2s infinite alternate;
}


@keyframes popUp {
    0% {
        transform : scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba (0, 120, 255,0.4);
    }
    100% {
        box-shadow: 0 0 20px rgba (0, 120, 255,1);
    }
}
